<div class="about-page">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>

  <div class="reduced-font text-link" [@fadeInOut]>
    <h4>Welcome to Face Detect App</h4>
    <p>
      A startup project for Quick Face Detect from CCTV footage.<br />
      This application provides a quick and convenient way to Detect Suspect face from live streaming of cctv footage.
    </p>
    <!-- <p>
      <a title="QuickApp Pro" target="_blank" href="https://quickapp-pro.azurewebsites.net">LIVE DEMO 1 - Pro</a>
      |
      <a title="QuickApp Standard" target="_blank" href="https://quickapp-standard.azurewebsites.net">LIVE DEMO 2 - Standard</a>
    </p> -->

    <h5>Technologies</h5>
    <ul>
      <li>Template pages with <a href="https://angular.dev" target="_blank" rel="nofollow">Angular 19</a> and <a href="https://www.typescriptlang.org" target="_blank" rel="nofollow">TypeScript</a></li>
      <li>RESTful API Backend using <a href="https://docs.microsoft.com/en-us/aspnet/core" target="_blank" rel="nofollow">ASP.NET Core 9.0</a> Web API</li>
      <li>Database using <a href="https://docs.microsoft.com/en-us/ef/core" target="_blank" rel="nofollow">Entity Framework Core</a></li>
      <li>Authentication/Authorization based on OIDC/OAuth2 and <a href="https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-7.0" target="_blank" rel="nofollow">ASP.NET Core Identity</a></li>
      <li>API Documentation using <a href="https://swagger.io" target="_blank" rel="nofollow">Swagger</a></li>
      <li>Client-side built on <a href="https://angular.dev/cli" target="_blank" rel="nofollow">Angular CLI</a></li>
      <li>Theming using <a href="https://getbootstrap.com" target="_blank" rel="nofollow">Bootstrap 5</a>
    </ul>

    <div class="bg-light bg-features">
      <h5>Features</h5>
      <i class="fa fa-bolt text-white logo"></i>
      <ul>
        <li>A simple, not "over-engineered" project for Quick Face Detection</li>
        <li> Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
        <li>Feature 5</li>
        <li>Feature 6</li>
        <li>Feature 7</li>
        <li>Feature 8</li>
        <li>Feature 9</li>
        <li>Feature 10</li>
        <li>etc.</li>
      </ul>
    </div>

    <a href="http://edeesha.kalbhairavnath.in/" class="btn btn-outline-info d-block"><i class="fa fa-shopping-cart"></i> Get more Details</a>

  </div>
</div>
