.custom-wide-modal {
  max-width: 100%;
  @media (min-width: 992px) {
    max-width: 1200px; // only on larger screens
  }
}

.table-responsive {
  overflow-x: auto;
}

.table {
  min-width: 600px;
}
