<div class="row control-box">
    <div class="col-lg-8">
      <div class="search-box">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'Search' | translate}}" />
      </div>
    </div>
    <div class="col-lg-4">
      <ul class="nav flex-row">
        <li class="nav-item toolbaritem">
          <a class="nav-link" href="javascript:;" (click)="addCctv()">
            <i class="fa fa-plus"></i> {{'Add CCTV' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div style="width: 100%; overflow-x: auto;">
    <ngx-datatable 
      class="material colored-header sm table-hover"
      [loadingIndicator]="loadingIndicator"
      [rows]="rows"
      [rowHeight]="35"
      [headerHeight]="37"
      [footerHeight]="35"
      [columnMode]="'force'"
      [scrollbarH]="true"
      [reorderable]="false"
      [scrollbarV]="true"
      style="border-radius: 12px; box-shadow: 0 4px 16px rgba(0,0,0,0.1); margin-top: 20px;"
   
      >
   <!-- style="min-width: 1200px;" -->
  <!-- Name column with clickable link -->
  <ngx-datatable-column name="Name" prop="name" [frozenLeft]="true">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a href="javascript:void(0)" (click)="editCctv(row)">
        {{ value }}
      </a>
    </ng-template>
  </ngx-datatable-column>

  <!-- Other columns rendered normally -->
  <ngx-datatable-column name="Location" prop="location"></ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="description"></ngx-datatable-column>
  <ngx-datatable-column name="IP Address" prop="ipAddress"></ngx-datatable-column>
  <ngx-datatable-column name="Latitude" prop="latitude"></ngx-datatable-column>
  <ngx-datatable-column name="Longitude" prop="longitude"></ngx-datatable-column>
  <ngx-datatable-column name="Altitude" prop="altitude"></ngx-datatable-column>
  <ngx-datatable-column name="Camera Type" prop="cameraType"></ngx-datatable-column>
  <ngx-datatable-column name="Camera Angle" prop="cameraAngle"></ngx-datatable-column>
  <ngx-datatable-column name="Resolution" prop="resolution"></ngx-datatable-column>
  <ngx-datatable-column name="Recording Status" prop="recordingStatus"></ngx-datatable-column>
  <ngx-datatable-column name="Storage Duration (Days)" prop="storageDurationDays"></ngx-datatable-column>
  <ngx-datatable-column name="Installation Date" prop="installationDate"></ngx-datatable-column>
  <ngx-datatable-column name="Last Maintenance Date" prop="lastMaintenanceDate"></ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
  <ngx-datatable-column name="Last Active Timestamp" prop="lastActiveTimestamp"></ngx-datatable-column>
  <ngx-datatable-column name="Auto Restart" prop="autoRestart"></ngx-datatable-column>
  <ngx-datatable-column name="Is Critical" prop="isCritical"></ngx-datatable-column>
  <ngx-datatable-column name="Face Crop Enabled" prop="faceCropEnabled"></ngx-datatable-column>
  <ngx-datatable-column name="Frame Match Interval" prop="frameMatchInterval"></ngx-datatable-column>
  <ngx-datatable-column name="Alert Group ID" prop="alertGroupId"></ngx-datatable-column>
  <ngx-datatable-column name="Site ID" prop="siteId"></ngx-datatable-column>
  <ngx-datatable-column name="Zone" prop="zone"></ngx-datatable-column>
  <ngx-datatable-column name="Assigned Guard" prop="assignedGuard"></ngx-datatable-column>
  <ngx-datatable-column name="Camera Model" prop="cameraModel"></ngx-datatable-column>
  <ngx-datatable-column name="Video Download Location" prop="videoDownloadLocation"></ngx-datatable-column>
  <ngx-datatable-column name="Stream URL" prop="streamUrl"></ngx-datatable-column>
</ngx-datatable>
</div>
  
  <ng-template #actionsTemplate let-row="row">
    <a class="btn btn-link btn-sm" href="javascript:;" ngbTooltip="{{'Delete' | translate}}" (click)="deleteCctv(row)">
      <i class="fa fa-times"></i>
    </a>
  </ng-template>

  <ng-template #actionsTemplate let-row="row">
    <button class="btn btn-sm btn-primary" (click)="editCctv(row)">Edit</button>
    <button class="btn btn-sm btn-danger" (click)="deleteCctv(row.id)">Delete</button>
  </ng-template>
  
  <ng-template #editorModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{'New CCTV' | translate}}</h5>
      <button type="button" class="btn-close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="f.form.valid ? saveCctv() : null">
           <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
          <label for="name" class="form-label">{{'Name' | translate}}:</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="cctvEdit.name" name="name" required />
          </div>
        </div>
  
        <div class="col-md-6">
            <div class="mb-3">
          <label for="location" class="form-label">{{'Location' | translate}}:</label>
            <input type="text" id="location" class="form-control" [(ngModel)]="cctvEdit.location" name="location" />
          </div>
        </div>
  

        <div class="col-md-6">
           <div class="mb-3">
          <label for="ipAddress" class="form-label">{{'IP Address' | translate}}:</label>
            <input type="text" id="ipAddress" class="form-control" [(ngModel)]="cctvEdit.ipAddress" name="ipAddress" />
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="mb-3">
          <label for="latitude" class="form-label">{{'Latitude' | translate}}:</label>
            <input type="number" id="latitude" class="form-control" [(ngModel)]="cctvEdit.latitude" name="latitude" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="longitude" class="form-label">{{'Longitude' | translate}}:</label>
            <input type="number" id="longitude" class="form-control" [(ngModel)]="cctvEdit.longitude" name="longitude" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="altitude" class="form-label">{{'Altitude' | translate}}:</label>
            <input type="number" id="altitude" class="form-control" [(ngModel)]="cctvEdit.altitude" name="altitude" />
          </div>
        </div>
  
<div class="col-md-6">
  <div class="mb-3">
    <label for="cameraType" class="form-label">{{ 'Camera Type' | translate }}:</label>
    <select id="cameraType" class="form-control" [(ngModel)]="cctvEdit.cameraType" name="cameraType">
      <option *ngFor="let type of cameraTypeOptions" [value]="type">{{ type }}</option>
    </select>
  </div>
</div>

<div class="col-md-6">
  <div class="mb-3">
    <label for="cameraAngle" class="form-label">{{ 'Camera Angle' | translate }}:</label>
    <input type="text" id="cameraAngle" class="form-control" [(ngModel)]="cctvEdit.cameraAngle" name="cameraAngle" />
  </div>
</div>

  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="resolution" class="form-label">{{'Resolution' | translate}}:</label>
            <input type="text" id="resolution" class="form-control" [(ngModel)]="cctvEdit.resolution" name="resolution" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="recordingStatus" class="form-label">{{'Recording Status' | translate}}:</label>
            <input type="text" id="recordingStatus" class="form-control" [(ngModel)]="cctvEdit.recordingStatus" name="recordingStatus" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="storageDurationDays" class="form-label">{{'Storage Duration (Days)' | translate}}:</label>
            <input type="number" id="storageDurationDays" class="form-control" [(ngModel)]="cctvEdit.storageDurationDays" name="storageDurationDays" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="installationDate" class="form-label">{{'Installation Date' | translate}}:</label>
            <input type="date" id="installationDate" class="form-control" [(ngModel)]="cctvEdit.installationDate" name="installationDate" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="lastMaintenanceDate" class="form-label">{{'Last Maintenance Date' | translate}}:</label>
            <input type="date" id="lastMaintenanceDate" class="form-control" [(ngModel)]="cctvEdit.lastMaintenanceDate" name="lastMaintenanceDate" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="status" class="form-label">{{'Status' | translate}}:</label>
            <input type="text" id="status" class="form-control" [(ngModel)]="cctvEdit.status" name="status" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="lastActiveTimestamp" class="form-label">{{'Last Active Timestamp' | translate}}:</label>
            <input type="datetime-local" id="lastActiveTimestamp" class="form-control" [(ngModel)]="cctvEdit.lastActiveTimestamp" name="lastActiveTimestamp" />
          </div>
        </div>
                <div class="col-md-6">
           <div class="mb-3">
          <label for="videoDownloadLocation" class="form-label">{{'Video Download Location' | translate}}:</label>
            <input type="text" id="videoDownloadLocation" class="form-control" [(ngModel)]="cctvEdit.videoDownloadLocation" name="videoDownloadLocation" />
          </div>
        </div>
  
       <div class="row">
  <div class="col-md-4">
    <div class="form-check mb-3">
      <input type="checkbox" id="autoRestart" class="form-check-input" [(ngModel)]="cctvEdit.autoRestart" name="autoRestart" />
      <label for="autoRestart" class="form-check-label">{{ 'Auto Restart' | translate }}</label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check mb-3">
      <input type="checkbox" id="isCritical" class="form-check-input" [(ngModel)]="cctvEdit.isCritical" name="isCritical" />
      <label for="isCritical" class="form-check-label">{{ 'Is Critical' | translate }}</label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check mb-3">
      <input type="checkbox" id="faceCropEnabled" class="form-check-input" [(ngModel)]="cctvEdit.faceCropEnabled" name="faceCropEnabled" />
      <label for="faceCropEnabled" class="form-check-label">{{ 'Face Crop Enabled' | translate }}</label>
    </div>
  </div>
</div>

  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="frameMatchInterval" class="form-label">{{'Frame Match Interval' | translate}}:</label>
            <input type="number" id="frameMatchInterval" class="form-control" [(ngModel)]="cctvEdit.frameMatchInterval" name="frameMatchInterval" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="alertGroupId" class="form-label">{{'Alert Group ID' | translate}}:</label>
            <input type="number" id="alertGroupId" class="form-control" [(ngModel)]="cctvEdit.alertGroupId" name="alertGroupId" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="siteId" class="form-label">{{'Site ID' | translate}}:</label>
            <input type="number" id="siteId" class="form-control" [(ngModel)]="cctvEdit.siteId" name="siteId" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="zone" class="form-label">{{'Zone' | translate}}:</label>
            <input type="text" id="zone" class="form-control" [(ngModel)]="cctvEdit.zone" name="zone" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="assignedGuard" class="form-label">{{'Assigned Guard' | translate}}:</label>
            <input type="number" id="assignedGuard" class="form-control" [(ngModel)]="cctvEdit.assignedGuard" name="assignedGuard" />
          </div>
        </div>
  
        <div class="col-md-6">
           <div class="mb-3">
          <label for="cameraModel" class="form-label">{{'Camera Model' | translate}}:</label>
            <input type="text" id="cameraModel" class="form-control" [(ngModel)]="cctvEdit.cameraModel" name="cameraModel" />
          </div>
        </div>
  

  
        <div class="col-md-6" [ngClass]="{'d-none': hideField}">
           <div class="mb-3">
          <label for="streamUrl" class="form-label">{{'Stream URL' | translate}}:</label>
            <input type="text" id="streamUrl" class="form-control" [(ngModel)]="cctvEdit.streamUrl" name="streamUrl" />
          </div>
        </div>
                <div class="mb-3 row">
          <label for="description" class="form-label">{{'Description' | translate}}:</label>
          <div class="col-md-9">
            <textarea id="description" class="form-control" [(ngModel)]="cctvEdit.description" name="description"></textarea>
          </div>
        </div>
  
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
            {{ cctvEdit?.id ? ('Update CCTV' | translate) : ('Add CCTV' | translate) }}
          </button>
        
          <button *ngIf="cctvEdit?.id" type="button" class="btn btn-danger" (click)="confirmDelete(modal)">
            {{ 'Delete CCTV' | translate }}
          </button>
        
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
            {{ 'Cancel' | translate }}
          </button>
        </div>
        