input.form-control {
  border-left-width: 5px;
}

.control-box {
  margin-bottom: 5px;
}

.search-box {
  margin: 0;
}

.nav-item.toolbaritem a {
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 100px;
  font-weight: bold;
}
::ng-deep .datatable-header .datatable-row-center .datatable-header-cell.frozen {
  background-color: #343a40 !important;
  color: #fff !important;
}
::ng-deep .datatable-header .datatable-header-cell:first-child {
  background-color: #343a40 !important;
  color: #fff !important;
}
::ng-deep .datatable-header-inner {
  background-color: #343a40;
}
::ng-deep .datatable-header,
::ng-deep .datatable-header .datatable-header-cell,
::ng-deep .datatable-header .datatable-header-cell.frozen {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

.completed {
  text-decoration: line-through;
}

.form-check {
  margin: 0;
}


.inline-label {
  width: 100%;
  min-height: 1rem;
  display: inline-block;
}

.inline-editor {
  width: 100%;
}

.description-form-group {
  margin-bottom: 5px;
}

.hr-separator {
  margin: 10px 0;
}

.table td, .table th {
  padding: 12px 15px;
  text-align: center;
}

.table td {
  font-size: 14px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

a {
  text-decoration: underline;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

/* Adjusting header style */
.modal-header {
  background-color: #f8f9fa;  /* Light background color */
  padding: 10px 15px;  /* Adjust padding to make it smaller */
  font-size: 1.25rem;  /* Adjust font size to make it smaller */
  border-bottom: 1px solid #dee2e6;  /* Optional: add a subtle border */
  color: #495057;  /* Optional: darker text color for contrast */
}

/* Optional: Adjust modal title if needed */
.modal-header .modal-title {
  font-size: 1.5rem; /* You can adjust this to your liking */
  font-weight: bold;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}